In [1]:
import numpy as np
import pandas as pd

In [3]:
X = np.linspace(-5, 5, 50)

In [4]:
X

array([-5.        , -4.79591837, -4.59183673, -4.3877551 , -4.18367347,
       -3.97959184, -3.7755102 , -3.57142857, -3.36734694, -3.16326531,
       -2.95918367, -2.75510204, -2.55102041, -2.34693878, -2.14285714,
       -1.93877551, -1.73469388, -1.53061224, -1.32653061, -1.12244898,
       -0.91836735, -0.71428571, -0.51020408, -0.30612245, -0.10204082,
        0.10204082,  0.30612245,  0.51020408,  0.71428571,  0.91836735,
        1.12244898,  1.32653061,  1.53061224,  1.73469388,  1.93877551,
        2.14285714,  2.34693878,  2.55102041,  2.75510204,  2.95918367,
        3.16326531,  3.36734694,  3.57142857,  3.7755102 ,  3.97959184,
        4.18367347,  4.3877551 ,  4.59183673,  4.79591837,  5.        ])

In [5]:
n = X.shape[0]

In [6]:
pd.DataFrame(np.hstack((X[:, np.newaxis], np.ones((n, 1)))))

           0    1
0  -5.000000  1.0
1  -4.795918  1.0
2  -4.591837  1.0
3  -4.387755  1.0
4  -4.183673  1.0
5  -3.979592  1.0
6  -3.775510  1.0
7  -3.571429  1.0
8  -3.367347  1.0
9  -3.163265  1.0
10 -2.959184  1.0
11 -2.755102  1.0
12 -2.551020  1.0
13 -2.346939  1.0
14 -2.142857  1.0
15 -1.938776  1.0
16 -1.734694  1.0
17 -1.530612  1.0
18 -1.326531  1.0
19 -1.122449  1.0
20 -0.918367  1.0
21 -0.714286  1.0
22 -0.510204  1.0
23 -0.306122  1.0
24 -0.102041  1.0
25  0.102041  1.0
26  0.306122  1.0
27  0.510204  1.0
28  0.714286  1.0
29  0.918367  1.0
30  1.122449  1.0
31  1.326531  1.0
32  1.530612  1.0
33  1.734694  1.0
34  1.938776  1.0
35  2.142857  1.0
36  2.346939  1.0
37  2.551020  1.0
38  2.755102  1.0
39  2.959184  1.0
40  3.163265  1.0
41  3.367347  1.0
42  3.571429  1.0
43  3.775510  1.0
44  3.979592  1.0
45  4.183673  1.0
46  4.387755  1.0
47  4.591837  1.0
48  4.795918  1.0
49  5.000000  1.0

In [16]:
np.ones((n, 1)).shape

(50, 1)

In [17]:
X

array([-5.        , -4.79591837, -4.59183673, -4.3877551 , -4.18367347,
       -3.97959184, -3.7755102 , -3.57142857, -3.36734694, -3.16326531,
       -2.95918367, -2.75510204, -2.55102041, -2.34693878, -2.14285714,
       -1.93877551, -1.73469388, -1.53061224, -1.32653061, -1.12244898,
       -0.91836735, -0.71428571, -0.51020408, -0.30612245, -0.10204082,
        0.10204082,  0.30612245,  0.51020408,  0.71428571,  0.91836735,
        1.12244898,  1.32653061,  1.53061224,  1.73469388,  1.93877551,
        2.14285714,  2.34693878,  2.55102041,  2.75510204,  2.95918367,
        3.16326531,  3.36734694,  3.57142857,  3.7755102 ,  3.97959184,
        4.18367347,  4.3877551 ,  4.59183673,  4.79591837,  5.        ])